body {
  font-size: 22px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: calc(100vh - 20px);
}
